div.notice {
    border: 1px solid steelblue ;
    background-color: cadetblue;
    color:whitesmoke;
    padding: 4px;
}
div.error {
    border: 1px solid darkred ;
    background-color: lightgray;
    color:darkred;
    padding: 4px;
}